// --- Bootstrap ---

// General
$enable-rounded: false;
$enable-gradients: true;

// Body
$body-bg: #f1f1f1;

// Typography
$font-size-base: .9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #3490dc;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
   'primary': $primary,
   'secondary': $secondary,
   'success': $success,
   'info': $info,
   'warning': $warning,
   'danger': $danger,
   'light': $light,
   'dark': $dark
  ),
  $theme-colors
);

// Buttons + Forms
$input-btn-focus-width: 0rem;

// Toasts
$toast-max-width: 350px;

// --- BootstrapVue ---

// Toaster
$b-toaster-zindex: 1100;
$b-toaster-offset-top: 0.5rem;
$b-toaster-offset-bottom: $b-toaster-offset-top;
$b-toaster-offset-left: $b-toaster-offset-top;
$b-toaster-offset-right: $b-toaster-offset-top;

// --- NProgress ---
$nprogress-bar-height: 2px;
$nprogress-bar-color: $primary;
$nprogress-bar-zindex: 1031;
